
#upload-wrapper {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	background: #F5F5F5;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #AAA;
}



#upload-wrapper h3 {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 20px 0px;
	margin-top: -30px;
	border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
	border: 1px solid #DDD;
	padding: 6px;
	background: #FFF;
	border-radius: 5px;
    float:left;
}


#upload-wrapper #submit-btn {
    height:34px;
	/*border: none;*/
	/*padding: 8px;*/
	/*background: #4B8FD8;*/
	/*border-radius: 5px;*/
	/*color: #FFF;*/
}
#output{
    margin-top:10px;
	padding: 5px;
	font-size: 12px;
}
#output img {
	border: 1px solid #DDD;
	padding: 5px;
}


@media (max-width:500px){
    #upload-wrapper input[type=file] {
        float:left;

    }
    #upload-wrapper {
        padding-left: 10px;
    }
    input#imageInput {
        width: 250px;
    }

}
