.persona{
    padding: 0px;
}
.bord{
    border:0px solid black;
}

.profile-image {
    /*width: 100%;*/
    border: 5px solid white;
    outline: 1px solid #dbdee0;
}


.panel-heading{
    border-bottom: 0px;
}
.vcard-details {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-left:-40px;

}
.vcard-details .fa{
    color:#A8A8A8;
}


