.persona{
    padding: 0px;
}


.profile-image {
    width: 100%;
    border: 5px solid white;
    outline: 1px solid #dbdee0;
}

@media all{
    .column {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    .columns:before,
    .columns:after{
        display:table;
        content:" "
    }
    .columns:after{
        clear:both
    }
    .one-fourth {
        max-width: 250px;
        width: 25%;

    }
    .three-fourths {
        width: 70%;
    }
    .columns {
        margin-left: -10px;
        margin-right: -10px;
    }
    .columns:after {
        clear: both;
    }
    .columns:before, .columns:after {
        display: table;
        content: " ";
    }

}

.panel-heading{
    border-bottom: 0px;
}
.vcard-details {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-left:-30px;

}
.glyphicon{
    color:#CECECE;
}
