.persona{
    padding: 0px;
}
.bord{
    border:0px solid black;
}

.open{
    display:none;
}
@media(max-width:767px){
    body {
        margin-top: 50px;
    }
    div#page-wrapper {
        padding-top: 10px;
    }

    .open{
        display:block;
    }
    .clos{
        display:none;
    }

}
.panel-heading {
    padding: 15px 15px;
}
button#enable {
    margin-bottom: 10px;
}




@media (min-width: 1480px) {
    
    .data{
        margin-left: -70px;
    }
    
}


.profile-image {
    /*width: 100%;*/
    /*border: 5px solid white;*/
    /*outline: 1px solid #dbdee0;*/
    border-radius: 7px;
}


.panel-heading{
    border-bottom: 0px;
}
.vcard-details {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-left:-40px;
    max-width: 300px;
}
.vcard-details .fa{
    color:#A8A8A8;
}
.vcard-detail {
    width: 100%;
    padding: 2px 0 2px 0px;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 14px;
    text-overflow: ellipsis;
}


@media (max-width: 568px) {
    .image-block{
        text-align:center;
    }


    .vcard-details{
        font-size: 11px;
        border-top: 0px solid #eee;
        border-bottom: 0px solid #eee;
        text-align: left;
    }

}

